#hero {
  --height-span-base: 4rem;
  --h1-max-width: 30rem;
  --patins-w-h: 31.2rem;
  --stars1-width: 5.7rem;
  --stars2-width: 2.6rem;

  & > div > div:nth-child(1) {
    max-width: var(--h1-max-width);
    height: fit-content;

  }

  & h1 div {
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
    width: min-content;
    height: var(--height-span-base);

    & span {
      display: block;

      animation: slideUp 6s 3s ease infinite;
    }

    & span:nth-child(1),
    & span:nth-child(4) {
      color: var(--snitap-sky-mid);
    }
    & span:nth-child(2) {
      color: var(--snitap-joy-mid);
    }
    & span:nth-child(3) {
      color: var(--snitap-leaf-mid);
    }
  }

  & .buttons {
    --gap-base: 2.4rem;
    gap: var(--gap-base);
    margin-top: 4.8rem;
    text-transform: uppercase;

    & img {
      vertical-align: bottom;
      width: 2.4rem;
    }

    & a {
      transition: scale 350ms;
    }

    & a:nth-child(1) {
      background-color: var(--snitap-sun);
      padding: 2.4rem 4.8rem;
    }

    & a:nth-child(2) {
      & span {
        background-color: #fff;
        padding: 2.4rem;
      }
    }

    & a:hover {
      scale: 1.1;
    }

    .shadow {
      box-shadow: 0px 36px 15px rgba(0, 0, 0, 0.01),
        0px 20px 12px rgba(0, 0, 0, 0.05), 0px 9px 9px rgba(0, 0, 0, 0.09),
        0px 2px 5px rgba(0, 0, 0, 0.1);
      border-radius: 80px;
    }
  }

  /* patins */
  & > div > div:nth-child(2) {
    height: var(--patins-w-h);
    /* overflow: hidden; */
    /* border: solid blue; */

    & .content {
      position: relative;

      width: var(--patins-w-h);
      height: 100%;

      & img {
        position: absolute;

        &[src*="ellipse"] {
          top: 3%;
          left: 3%;
          width: 94%;

          transform: translateX(200%);
          animation: slideIn 3s 200ms ease forwards;
        }

        &[src*="patins"] {
          z-index: 1;

          transform: translateX(200%);
          animation: slideIn 3s ease forwards;
        }

        &[src*="stars1"] {
          top: 30%;
          width: var(--stars1-width);

          opacity: 0;
          transform: translateX(400%);
          animation: slideIn 2s 800ms ease forwards,
            appear 100ms 1s ease forwards;
        }

        &[src*="stars2"] {
          bottom: 35%;
          left: 91%;
          width: var(--stars2-width);

          opacity: 0;
          transform: translateX(400%);
          animation: slideIn 2.2s 800ms ease forwards,
            appear 100ms 1s ease forwards;
        }
      }
    }
  }
}

@keyframes appear {
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  50% {
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideUp {
  /* radical static */
  0%,
  22% {
    transform: translateY(0);
  }

  /* divertida in */
  23% {
    transform: translateY(calc(-4rem - 6px));
  }

  25% {
    transform: translateY(calc(-4rem + 3px));
  }

  27% {
    transform: translateY(calc(-4rem - 1.5px));
  }

  29% {
    transform: translateY(calc(-4rem + 1.5px));
  }

  /* divertida static */
  33%,
  55% {
    transform: translateY(-4rem);
  }

  /* saudável in */
  56% {
    transform: translateY(calc(-8rem - 6px));
  }

  58% {
    transform: translateY(calc(-8rem + 3px));
  }

  60% {
    transform: translateY(calc(-8rem - 1.5px));
  }

  62% {
    transform: translateY(calc(-8rem + 1.5px));
  }

  /* saudável static */
  66%,
  88% {
    transform: translateY(-8rem);
  }

  /* radical in */
  89% {
    transform: translateY(calc(-12rem - 6px));
  }

  91% {
    transform: translateY(calc(-12rem + 3px));
  }

  93% {
    transform: translateY(calc(-12rem - 1.5px));
  }

  95% {
    transform: translateY(calc(-12rem + 1.5px));
  }

  100% {
    transform: translateY(-12rem);
  }
}

@media (width >= 1280px) {
  #hero {
    --height-span-base: 8rem;
    --h1-max-width: 69.6rem;
    --stars1-width: 8rem;
    --stars2-width: 4rem;

    & .buttons {
      --gap-base: 3.2rem;
    }

    & > div > div:nth-child(2) {
      --patins-w-h: 48.8rem;
    }
  }

  @keyframes slideUp {
    /* radical static */
    0%,
    22% {
      transform: translateY(0);
    }

    /* divertida in */
    23% {
      transform: translateY(calc(-8rem - 15px));
    }

    25% {
      transform: translateY(calc(-8rem + 10px));
    }

    27% {
      transform: translateY(calc(-8rem - 5px));
    }

    29% {
      transform: translateY(calc(-8rem + 5px));
    }

    /* divertida static */
    33%,
    55% {
      transform: translateY(-8rem);
    }

    /* saudável in */
    56% {
      transform: translateY(calc(-16rem - 15px));
    }

    58% {
      transform: translateY(calc(-16rem + 10px));
    }

    60% {
      transform: translateY(calc(-16rem - 5px));
    }

    62% {
      transform: translateY(calc(-16rem + 5px));
    }

    /* saudável static */
    66%,
    88% {
      transform: translateY(-16rem);
    }

    /* radical in */
    89% {
      transform: translateY(calc(-24rem - 15px));
    }

    91% {
      transform: translateY(calc(-24rem + 10px));
    }

    93% {
      transform: translateY(calc(-24rem - 5px));
    }

    95% {
      transform: translateY(calc(-24rem + 5px));
    }

    100% {
      transform: translateY(-24rem);
    }
  }
}
