.container {
  --px-base: 2.4rem;
  --max-width: 37.5rem;
  width: min(var(--max-width), 100% - var(--px-base) * 2);
  margin-inline: auto;

  /* border: 1px solid red; */
}

.b-radius-80 {
  border-radius: 8rem;
}

.bg-gradient-animate {
  background: linear-gradient(
    45deg,
    var(--snitap-sky-light),
    var(--snitap-joy-light)
  );

  background-size: 400%;
  background-position: 0 50%;

  animation: bg-gradient 20s ease infinite;
}

@keyframes bg-gradient {
  50% {
    background-position: 100% 50%;
  }
}

.flex {
  display: flex;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.grid {
  display: grid;
}

.gap-12 {
  gap: 1.2rem;
}

.gap-24 {
  gap: 2.4rem;
}

.gap-32 {
  gap: 3.2rem;
}

.items-center {
  align-items: center;
}

.content-center {
  justify-content: center;
}

.margin-left-auto {
  margin-left: auto;
}

.margin-right-auto {
  margin-right: auto;
}

.py-12 {
  padding-block: 1.2rem;
}

.py-16 {
  padding-block: 1.6rem;
}

.py-40 {
  padding-block: 4rem;
}

@media (width >= 1280px) {
  .container {
    --px-base: 3.2rem;
    --max-width: 128rem;
  }
}
